apiVersion: apps/v1
kind: Deployment
metadata:
  name: incodedemo-api
  labels:
    app: incodedemo-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: incodedemo-api
  template:
    metadata:
      labels:
        app: incodedemo-api
    spec:
      containers:
      - name: api
        image: 485876940116.dkr.ecr.us-east-1.amazonaws.com/incodedemo-api:latest
        ports:
        - containerPort: 3000
        env:
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: db-credentials
                key: DB_USER
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: db-credentials
                key: DB_PASSWORD
          - name: DB_HOST
            valueFrom:
              secretKeyRef:
                name: db-credentials
                key: DB_HOST
          - name: DATABASE_URL
            value: "postgresql://$(DB_USER):$(DB_PASSWORD)@$(DB_HOST):5432/incodedemo?schema=public"
          - name: NODE_ENV
            value: "production"
          - name: PORT
            value: "3000"

